/* Page setup */

button {
	background-color:#949494;
	border-radius:28px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
button:hover {
	background-color:#000000;
}
button:active {
	position:relative;
	top:1px;
}


body {
	background-color: grey;

	color: black;
	font-family: monospace;
	font-size: 24px;

	text-align: center
}

img { vertical-align: middle; }

p {
	margin: 0;
	font-size: 14px;
}

/*
This selector essentially says
"Find a <div> with id='resource-bar',
then retrieve all the <span> elements
inside except for the last one."
*/

div#resource-bar span:not(:last-child) { margin-right: 30px; }

/* Modifying button properties to suit our needs */

